:root{
    font-size: 10px;
}

*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    border-bottom: 2px solid rgb(0,0,0);
    padding: 2rem;
    margin: 0 0 3rem;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}


header img{
    width: 50px;
    position: relative;
    vertical-align: baseline;
}

header img:hover{
    filter: invert(1);
}

header h1{
    display: inline-block;
    margin: 0 10px;
    font-size: 5rem;
    font-weight: 600;
}

header span{
    display: inline-block;
    font-size: 2rem;
    font-weight: 200;
    color: rgb(218, 218, 218);
    margin: auto;
}

header span:hover{
    color: rgb(200, 245, 226);
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

article{
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 1rem;
    border-radius: 1%;
    box-shadow: 10px 10px 23px 7px rgba(0,0,0,0.51);
}

article:hover{
    transform: scale(1.01);
}



article h2{
    font-size: 3rem;
    margin: 1rem
}

article p{
    font-size: 1.5rem;
}

article a img{
    max-height: 70%;
    max-width: 90%;
    margin: 2.2rem 0 0;
}



@media screen and (max-width: 420px){
    .content{
        grid-template-columns: 250px;
        justify-content: center;
    }

    article{
        width: 200px;
        
    }
}